Agente RAG Pinecone.json
{
  "name": "Agente RAG Pinecone",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "59683501-d797-40e0-aeae-b59b832b8a55",
      "name": "Descargar Archivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rjI1y026fkYPGlR9",
          "name": "Asisttente"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1OGib9pfjTyyLG61vZbtFKyfbabr1T0HK",
            "mode": "list",
            "cachedResultName": "RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1OGib9pfjTyyLG61vZbtFKyfbabr1T0HK"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "751e4619-ab40-425c-9833-e0f2f18a0ae8",
      "name": "Buscar Archivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rjI1y026fkYPGlR9",
          "name": "Asisttente"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "id": "6db1f520-765b-4946-9dab-62373d0ccffa",
      "name": "Loop"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1376,
        0
      ],
      "id": "32e39a51-20bc-4284-b1b6-d878cb33ad50",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ],
      "id": "b1ae05c5-7625-4dee-a3f6-f1263625c4ca",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        96
      ],
      "id": "8024774b-e88a-444d-8590-92a438200fad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ],
      "id": "15e695d7-df15-4272-9de5-7990242e5cd4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -48
      ],
      "id": "240385b6-5a03-4208-8ba2-a071c5f3caf2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -32
      ],
      "id": "3a2b5fed-0cdb-4f98-be22-ce11a9d8271e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Rol\n\nEres un Agente que se encarga de buscar informaci贸n sobre una empresa y responder preguntas\n\n# Tarea\n\nResponder a las preguntas del usuario utilizando las herramientas disponibles para obtener la informaci贸n\n\n# Herramientas\n\nbase_datos: Utiliza esta herramienta **SIEMPRE** para buscar informaci贸n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        624,
        -320
      ],
      "id": "32bc6ecf-2768-4749-aad1-9512123f47ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -368
      ],
      "id": "ee473e67-b690-4ee8-a495-8dc837115b6f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        -320
      ],
      "id": "a8095794-2aac-4fef-80b8-cd5b1d3c277d",
      "name": "Chat Trigger",
      "webhookId": "5cd34c27-c7ad-4773-aa51-13e9dd29814b"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -368
      ],
      "id": "89f38371-e623-49d2-aa29-259129e4471f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        16
      ],
      "id": "30a8709c-3824-48ed-bfc1-eb391c18f4d2",
      "name": "Embedding #1",
      "credentials": {
        "openAiApi": {
          "id": "1JlbCNt49CxAPtvA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -352
      ],
      "id": "e4bccf0b-1f3c-456e-bf71-902ef94d9dfd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        -304
      ],
      "id": "f9a8e848-34bd-482d-b203-693fc1c2d398",
      "name": "Chat GPT",
      "credentials": {
        "openAiApi": {
          "id": "1JlbCNt49CxAPtvA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        -304
      ],
      "id": "46e67c1b-b636-40b6-b9b9-70a89acca265",
      "name": "Embedding #2",
      "credentials": {
        "openAiApi": {
          "id": "1JlbCNt49CxAPtvA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "Gimnasio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        0
      ],
      "id": "719adbb0-f6b2-4dd2-ba56-da51b621a12a",
      "name": "Pinecone Vector Store #1",
      "credentials": {
        "pineconeApi": {
          "id": "9s1kq7dV0kEzm6bX",
          "name": "PineCone"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Utiliza esta herramienta para buscar informaci贸n y utilizarla para responder la pregunta del ususario",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "Gimnasio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1184,
        -304
      ],
      "id": "0e215468-9313-47ac-8518-c334db606aa4",
      "name": "Pinecone Vector Store #2",
      "credentials": {
        "pineconeApi": {
          "id": "9s1kq7dV0kEzm6bX",
          "name": "PineCone"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "4f09f1a2-9ce6-44e4-b1ba-959d196e00a0",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -112
      ],
      "id": "ed620f84-6a74-4453-b5e9-be79a48159d6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -160
      ],
      "id": "fb6d4af9-0e26-4f37-b4ba-9faa4943a7be",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Descargar Archivos": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Archivos": {
      "main": [
        [
          {
            "node": "Descargar Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store #1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store #1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding #1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store #1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embedding #2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store #2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store #1": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store #2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Buscar Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b06d56b8-2d28-4101-91ac-4b188b03eef4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2055b988e4152b5f29cbba33644b3285bfe3f341f2156ec88f2744b045a9b0d9"
  },
  "id": "IrsbugQFnIJKKFvt",
  "tags": []
}