AI_Agent__RAG_.json
{
  "name": "AI Agent (RAG)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        100
      ],
      "id": "c10829f7-afaa-45de-9877-ebc70831bb4a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente que recibe cualquier tipo de consulta sobre la base de datos de \"empresaInfo\". Deberás responder a cualquier consulta que recibas de forma directa y clara."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        560,
        100
      ],
      "id": "7020acec-f64e-4628-8609-57cb75950a5d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "empresaInfo",
        "toolDescription": "Utiliza esta herramienta para buscar cualquier información sobre la empresa",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        720,
        340
      ],
      "id": "f2a50b33-0e4a-4046-9acd-65eb2f13c172",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "6n5c3seeDnOHz0mI",
          "name": "Supabase 2.0"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        500
      ],
      "id": "2d109e71-5fac-4dda-9df6-aa7c7ccc1797",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "u75pV3PXy8e3QFfN",
          "name": "second"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        400
      ],
      "id": "6098f95f-6afd-4cd7-98a5-cecfd686e87a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        100
      ],
      "id": "91ebf08d-02e8-4a07-98c4-02b19c8c4310",
      "name": "When chat message received",
      "webhookId": "5b6dd9c3-8f82-4ca4-adf0-35155ce3165a"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        680,
        900
      ],
      "id": "d5f2a709-00de-41df-b55a-36da750fa1d5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        720
      ],
      "id": "3b221542-77dd-4428-b01c-4cf9865e1a8d",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CnGMQmxO3CziUl7x",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZnC7uJ2poQAWaRYJaSyZhcGRdlG-zQl_",
          "mode": "list",
          "cachedResultName": "YouTube",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZnC7uJ2poQAWaRYJaSyZhcGRdlG-zQl_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        60,
        720
      ],
      "id": "553997a2-8632-475e-a71c-e34279188aa7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CnGMQmxO3CziUl7x",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        520,
        720
      ],
      "id": "31e669db-cec4-4e7f-9dd1-457961324520",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "6n5c3seeDnOHz0mI",
          "name": "Supabase 2.0"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        900
      ],
      "id": "6123fca3-9723-4b00-800d-c39400676c3f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "u75pV3PXy8e3QFfN",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        1040
      ],
      "id": "d483f4eb-1051-4b1d-baa3-2e7c1afd4be0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "**Incrustar Google Sheet con Supabase vectorizado**",
        "height": 560,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "39d35fb8-8289-421f-bb47-0e76d73e6bd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ],
      "id": "02397f93-47c8-401a-8a90-2940a5115e48",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "u75pV3PXy8e3QFfN",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "content": "**Consulta Base de Datos Vectorizada (Supabase)**",
        "height": 620,
        "width": 1020,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ecf5e033-145f-468d-a2b6-e3a51635ec88",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d3a593f-f69a-4d82-a104-f421efc8c2d1",
  "meta": {
    "instanceId": "bc4172b75c86925f8efadccf1584fb330b212a1581f727b3740667ad70836ca4"
  },
  "id": "9v96nhu3wksC7BoT",
  "tags": [
    {
      "createdAt": "2025-02-10T17:08:16.189Z",
      "updatedAt": "2025-02-10T17:08:16.189Z",
      "id": "p29O4FTzckqVm2Vh",
      "name": "David Petolescu"
    }
  ]
}