Facturas AIRTABLE.json
{
  "name": "facturas_ejemplo_airtable",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-xVCKcs4-iyW_jLV2coACK6jcYt4lY_h",
          "mode": "list",
          "cachedResultName": "Facturas",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-xVCKcs4-iyW_jLV2coACK6jcYt4lY_h"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        400,
        -40
      ],
      "id": "b7d88eb7-05d2-49a0-bb02-71f785f7a995",
      "name": "subir_archivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "udNuJsqFLFVy4EnM",
          "name": "Drive_luis"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        320
      ],
      "id": "d4e426ed-f0b6-4b5a-968b-c3792db5af19",
      "name": "Espera peticiones",
      "webhookId": "ded98a83-3e0b-4ed2-a5a1-0d48217f429c"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        -40
      ],
      "id": "0f301ba4-090b-4201-9a43-3b5ae5620995",
      "name": "Bucle"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        180
      ],
      "id": "cd189bd0-8dca-41ac-bc71-2bac797a8706",
      "name": "Descargar factura",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "udNuJsqFLFVy4EnM",
          "name": "Drive_luis"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1060,
        -120
      ],
      "id": "e74158a6-190c-4712-b67d-b5280c740774",
      "name": "Extraer binario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCNO6UEtGSpTjHPAGqkb8IXGN_nE-VnTig"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $('subir_archivo').item.json.mimeType }}\",\n            \"data\": \"{{ $('Extraer binario').item.json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"Mi empresa es Lambda, que es el receptor de la factura.\\n\\nA partir del documento de factura proporcionado, extrae los siguientes campos y devuelve un objeto JSON con los campos en el orden exacto listado a continuación:\\n\\n⸻\\n\\n• Fecha de la Factura: La fecha en que se emitió la factura. Formato estrictamente así: DD/MM/AAAA (p. ej. 15/11/2025).\\n• Categoría: Clasifica el gasto en una de las siguientes categorías predefinidas:\\n    • Costes de IT y Software\\n    • Telefonía y Comunicaciones\\n    • Material de Oficina\\n    • Viajes y Alojamiento\\n    • Marketing y Publicidad\\n    • Honorarios por Servicios\\n    • Suscripciones y Membresías\\n    • Formación y Educación\\n    • Suministros y Alquileres\\n    • Servicios Profesionales\\n• Emisor: El nombre de la empresa o persona que emitió la factura. Esto no es Lambda, sino la entidad que figura claramente en la factura como emisor.\\n• Descripción: Breve explicación del producto o servicio prestado.\\n• Importe (sin IVA): El precio neto antes de IVA.\\n    • Elimina cualquier símbolo o texto de moneda (€, $, EUR, USD, etc.).\\n    • Usa coma como separador decimal, no punto (p. ej. 10.90 → 10,90).\\n    • Ejemplo: \\\"1200,00\\\"\\n• IVA %: El valor numérico del tipo de IVA, usando coma como separador decimal y sin el símbolo de porcentaje.\\n    • Ejemplo: \\\"21,0\\\" (no \\\"21.0\\\" ni \\\"21,0%\\\")\\n    • Si no se aplica IVA, escribe \\\"0,0\\\"\\n• Total: El importe total incluido el IVA.\\n    • Elimina cualquier símbolo de moneda.\\n    • Formato con coma como separador decimal.\\n    • Ejemplo: \\\"1500,00\\\"\\n• Moneda: Extrae la unidad monetaria de forma separada como una abreviatura en mayúsculas (p. ej. \\\"EUR\\\", \\\"USD\\\").\\n• Notas: Cualquier anotación relevante para contabilidad o aclaraciones. Si no aplica, usa \\\"N/A\\\".\\n\\n⸻\\n\\n✅ Asegúrate de:\\n• Formato consistente en todos los campos.\\n• Ningún campo vacío (usa \\\"N/A\\\" donde no haya datos).\\n• Cumplimiento estricto del orden y estructura indicados.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"topK\": 1,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 1024,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        180
      ],
      "id": "648753e8-1d6e-4e71-b6ad-2ef2e7fac0a5",
      "name": "Visión artificial"
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Categoría\": {\n      \"type\": \"string\"\n    },\n    \"Emisor\": {\n      \"type\": \"string\"\n    },\n    \"Descripción\": {\n      \"type\": \"string\"\n    },\n    \"Importe (sin IVA)\": {\n      \"type\": \"number\",\n      \"minimum\": 0\n    },\n    \"IVA %\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"Total\": {\n      \"type\": \"number\",\n      \"minimum\": 0\n    }, \n    \"URL\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"Fecha de la Factura\",\n    \"Categoría\",\n    \"Emisor\",\n    \"Importe (sin IVA)\",\n    \"IVA %\",\n    \"Total\",\n    \"Moneda\"\n  ],\n  \"additionalProperties\": false\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1360,
        -80
      ],
      "id": "17f2794f-188f-4b97-ba18-5e94afa76fc3",
      "name": "Estructurar datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        180
      ],
      "id": "de950511-8510-45e6-9ead-8fb98fdb0e56",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "83Bgk5FOQ84rbXoZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1600,
        220
      ],
      "id": "43fa16fa-b210-40ef-9ee4-333467e60fb2",
      "name": "Dia actual"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGFDgMSjqJrgQJR",
          "mode": "list",
          "cachedResultName": "Expense Tracking",
          "cachedResultUrl": "https://airtable.com/appGFDgMSjqJrgQJR"
        },
        "table": {
          "__rl": true,
          "value": "tblpAhRzCjaUMFJwd",
          "mode": "list",
          "cachedResultName": "Contabilidad",
          "cachedResultUrl": "https://airtable.com/appGFDgMSjqJrgQJR/tblpAhRzCjaUMFJwd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Importe": "={{ $json.output['Importe (sin IVA)'] }}",
            "Total": "={{ $json.output.Total }}",
            "Categoría": "={{ $json.output['Categoría'] }}",
            "Emisor": "={{ $json.output.Emisor }}",
            "Descripción": "={{ $json.output['Descripción'] }}",
            "URL": "={{ $('Descargar factura').item.json.webViewLink }}",
            "Fecha": "={{ $json.currentDate }}",
            "IVA": "={{ $json.output['IVA %'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emisor",
              "displayName": "Emisor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Importe",
              "displayName": "Importe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1860,
        -80
      ],
      "id": "081adcc1-49b5-4621-b6bc-5c5357dd6bc4",
      "name": "Insertar factura",
      "credentials": {
        "airtableTokenApi": {
          "id": "rAyALSca8y97IIvM",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 920,
        "width": 1960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        -320
      ],
      "id": "19c0b239-e240-45d5-b022-a1dab0af3b45",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        -280
      ],
      "id": "88f03bbc-307f-41e1-af18-9a6894e28076",
      "name": "Fin"
    }
  ],
  "pinData": {},
  "connections": {
    "subir_archivo": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera peticiones": {
      "main": [
        [
          {
            "node": "Bucle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar factura": {
      "main": [
        [
          {
            "node": "Extraer binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer binario": {
      "main": [
        [
          {
            "node": "Visión artificial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visión artificial": {
      "main": [
        [
          {
            "node": "Estructurar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar datos": {
      "main": [
        [
          {
            "node": "Dia actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Estructurar datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dia actual": {
      "main": [
        [
          {
            "node": "Insertar factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar factura": {
      "main": [
        [
          {
            "node": "Espera peticiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94ba5c05-c2ac-4915-8a2f-f6bce42cb788",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dba9844ea0944d958a071c154eaf52f0d451d647c14f2fdb78389cb1a8f69b93"
  },
  "id": "ywLj0evBhCXIeutU",
  "tags": [
    {
      "name": "VIDEO_14/7",
      "id": "6kLmdmEmJfwFr4P0",
      "createdAt": "2025-07-09T14:46:21.781Z",
      "updatedAt": "2025-07-09T14:46:21.781Z"
    },
    {
      "createdAt": "2025-05-13T10:07:35.829Z",
      "updatedAt": "2025-05-13T10:07:35.829Z",
      "id": "bpAUcg5NXDdnSut3",
      "name": "YouTube"
    }
  ]
}